body {
	margin: 0;
	padding: 120px 0 0;
  font-family: 'Open Sans','Helvetica Neue', Helvetica, 'Arial', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background: #F5F8FA;
	border-bottom: 1px solid #66757F;
}

header > #logo {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 20px 0 0;
	padding: 0;
}

header > #logo > img {
	width: 100px;
	height: 100px;
}

header > #word {
	float: left;
	font-size: 80px;
	font-weight: bold;
	line-height: 100px;
	color: #55ACEE;
}

ul#tweet {
	display: table;
	width: 100%;
	min-height: 150px;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul#tweet > li {
	display: table-row;
}

ul#tweet > li:nth-child(2n) {
	background: #E1E8ED;
}

#tweet .avatar {
	display: table-cell;
	width: 150px;
	min-height: 150px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

#tweet .avatar > img {
	width: 150px;
	height: 150px;
}

#tweet dl {
	display: table-cell;
	margin: 0;
	padding: 10px;
	vertical-align: top;
}

#tweet dl > dt {
	margin: 0 0 10px;
	font-size: 25px;
	line-height: 30px;
}

#tweet dl > dd {
	margin: 0;
	padding: 0;
	font-size: 40px;
	line-height: 45px;
}

